/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 2px;
}
.jumbotron
{
	background-color: black;
	color:white;
}
footer
{
	background-color: #16a085;
	color:#fff;
}
footer {
  padding: 25px 0;
  background: #1d2023 url(images/bg-footer.png) 0 0 repeat;
  color: #535961;
  text-shadow: 0 1px 1px rgba(0,0,0,1);
  font-size: 0.786em;
  border-top: 1px solid #111215;
}